.sign-container{
  position: relative;
  min-height: 400px;
  overflow: hidden;
}
.sign-container img{
  width: 120%;
  position: absolute;
  top:0;
}
.sign-container .form-container{
  width: 400px;
  min-height: 400px ;
  text-align: center;
  margin: 0 auto;
  background: rgba(1,1,1,0.45);
  position: relative;

  .login-form-wrapper {
    padding: 40px 50px 50px;
  }
  .signup-form-wrapper{
    padding: 40px 50px 50px;

  }
  p{
    color: #fff;
    cursor: pointer;
  }
  .login-title{
    font-size: 32px;
    color: #fff;
    text-align: left;
    margin-bottom: 15px;
  }

}
